/** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */
body {
	/*background-color: cyan !important*/
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	border: 5px solid;
	border-color: transparent;
	display: block;
	font-size: 10pt;
}

.serverResponseLabelError {
	color: red;
}

/* GWT RELATED*/
.gwt-Label {
	font-size: small;
	font-family: sans-serif ;
}

.gwt-TextBox {
	border: 1px solid #66B3FF;
	font-size: small;
	font-family: sans-serif ;
}

.gwt-TextArea {
	border: 1px solid #66B3FF;
	font-size: small;
	font-family: sans-serif ;	
}

.gwt-PasswordTextBox {
	border: 1px solid #66B3FF;
	font-size: small;
	font-family: sans-serif ;
}

.gwt-Button {
	/*background: #F4F4F0;
	color: #333333;
	font-size: 12px;*/
	font-size: small;
	font-family: sans-serif ;
}

.table-center {
	margin-left: auto;
	margin-right: auto;		
	margin-top: 5px;
	border: 1px solid #66B3FF;		
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.table-center {
	vertical-align: middle;
}

.buttons {
	background: #F4F4F0;
	color: #333333;
	font-size: 12px;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.rightAlign {
	text-align: right;	
}