<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<!-- Servlet Mapping -->
	<servlet>
		<servlet-name>DataService</servlet-name>
		<servlet-class>com.gtl.fonecta.server.DataServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataService</servlet-name>
		<url-pattern>/gwt_smppsim/dataService</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>GWT_SMPPSim.html</welcome-file>
	</welcome-file-list>

</web-app>
